body {
  background: rgb(131,131,175);
  background: linear-gradient(135deg, rgba(131,131,175,1) 0%, rgba(130,130,170,1) 54%, rgba(154,154,180,1) 100%);
  color: #fff;
  font-family: 'Livvic', sans-serif;
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
